body, input, button {
    font-family: "Muli", sans-serif, -apple-system, BlinkMacSystemFont,
      "Helvetica Neue", Helvetica, sans-serif;
    outline: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .login-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f5f5f5;
  }
  
  .login-logo {
    margin-bottom: 20px;
  }
  
  .login-logo img {
    max-width: 150px;
    height: auto;
  }
  
  .login-form-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  
  .login-form-container {
    max-width: 450px;
    width: 100%;
    padding: 40px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  .login-form-container h2 {
    margin-bottom: 20px;
    color: #333;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  .form-group input {
    width: 100%;
    padding: 15px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 4px;
    background-color: #f9f9f9;
  }
  
  .form-group input:focus {
    border-color: #007bff;
    background-color: #fff;
  }
  
  button {
    width: 100%;
    padding: 15px;
    font-size: 18px;
    background-color: #28a745;
    border: none;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
    margin-bottom: 10px;
  }
  
  button:hover {
    background-color: #218838;
  }
  
  .error-message {
    color: red;
    margin-bottom: 10px;
  }
  
  .forgot-password-link, .create-account-link {
    display: block;
    text-align: center;
    margin-top: 10px;
    color: #007bff;
    text-decoration: none;
  }
  
  .forgot-password-link:hover, .create-account-link:hover {
    text-decoration: underline;
  }

  #img-globe{
    height: 50px;
    width: 50px;
  }
  